.cards {
  background-color: #232323;
  width: 200px;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: transform 1s; /* Added transition for smooth scaling */
}

.cards:hover {
  transform: scale(1.05); /* Added hover effect to scale the card */
}
